- provide :title, t('page_title.home')

%h3 连载小说

.novels
  - Novel.working_novels.each do |novel|
    %li.novel
      = link_to cover_tag(novel), novel
      %p
        = link_to novel.name, novel


