%li
  = link_to header_tag(user), user
  = link_to user.user_name, user

  - if user.has_permission?(Permission::DELETE_USER)
    = link_to t('pages.delete'), user, method: :delete,  data: { confirm: t('pages.confirm') }
