- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      = format(t('pages.form_error_notice'), count: object.errors.count)

    %ul
      - object.errors.full_messages.each do |msg|
        %li #{msg}
