- provide :title, t('pages.header.novel_manage')

.row
  %h3.col-md-8
    = t('pages.header.novel_manage')
  .col-md-4.text-right
    = link_to t('pages.add'), new_novel_path, class: 'btn btn-default'

= render 'novels' , novels: @novels
