- provide :title, t('pages.header.novel_manage')

%h3 连载小说

.novels
  - Novel.working_novels.each do |novel|
    %li.novel
      = link_to little_cover_tag(novel), novel
      %p
        = link_to novel.name, novel


%h3 完结小说

.novels
  - Novel.finished_novels.each do |novel|
    %li.novel
      = link_to little_cover_tag(novel), novel
      %p
        = link_to novel.name, novel