<footer class="footer">
  <small>
    众创 by OnePiece Studio with 陈大才, 刘京杭, 李顺喜.
  </small>
  <nav>
    <ul>
      <li><%= link_to "帮助",   help_path %></li>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系我们", contact_path %></li>
    </ul>
  </nav>
</footer>