%footer.footer
  %small
    #{t('page_title.main')}  by OnePiece Studio with 陈大才, 刘京杭, 李顺喜.
  %nav
    %ul
      %li= link_to t('page_title.help'),   help_path
      %li= link_to t('page_title.about'),   about_path
      %li= link_to t('page_title.contact'), contact_path
